@model WebPageAge.Models.WebpageInfo
@{
    ViewData["Title"] = "Home Page";
}

<form  method="post">

    <label for="basic-url">Enter URL</label>
    <div class="input-group mb-3">
        
        <input type="url" class="form-control" asp-for="@Model.url" aria-describedby="basic-addon3" />
    </div>

       
        <button type="submit">Get</button>
   
    
</form>

<div class="text-center">
    
    
    @if (Model.dateModified != null) { <p>date published=> @Model.datePublished</p>}
    @if (Model.datePublished!=null) { <p>date modified=> @Model.dateModified</p>}
</div>